.dcurator_logo{
    font-family: 'Roboto', sans-serif;
}

.dcurator_footer_button{
    font-size: .9rem;
}

.dcurator_footer{
    text-align: center; 
    margin-top: 2rem 0;
}

.dcurator_header{
    text-align: center; 
    margin: 2rem 0;
}